# IDE
.idea/

# Python
__pycache__/
*.pyc

# env
.env

# outputs
p_au/outputs/

# local models
p_au/Qwen2.5-VL-3B-Instruct/
p_au/mms-tts-eng/
Wan2.1-T2V-1.3B-Diffusers

# weights
*.bin
*.safetensors
*.pt
*.pth